<p align="center">
  <img align="center" src="https://raw.githubusercontent.com/moujinet/assets/main/weme-ui/png/circle-128.png" height="128" />
  <h1 align="center">
    Weme UI <sup style="color: #4CBBA5">{{ titleCase name }}</sup>
  </h1>
</p>

[![npm version][npm-version-src]][npm-version-href]
[![License][license-src]][license-href]

<p align="center">
  Re-usable UI components with Reka UI and UnoCSS.
</p>

---

## 如何开始

### 初始化

```bash
pnpm dlx @weme-ui/weme-ui init --repos @{{ owner }}/{{ name }}
```

### 添加组件

```bash
pnpm dlx @weme-ui/weme-ui add <component-name>
```

---

## 许可证

[MIT][license-href] License © 2025 [{{ owner }}][github-href]

[npm-version-src]: https://img.shields.io/npm/v/@{{ owner }}/{{ name }}?style=flat&colorA=1d2129&colorB=1d2129
[npm-version-href]: https://npmjs.com/package/@{{ owner }}/{{ name }}
[license-src]: https://img.shields.io/github/license/@{{ owner }}/{{ name }}.svg?style=flat&colorA=1d2129&colorB=1d2129
[license-href]: https://github.com/{{ owner }}/{{ name }}/blob/main/LICENSE
[github-href]: https://github.com/{{ owner }}/{{ name }}
